<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ne</display-name>
  <servlet>
    <description></description>
    <display-name>first</display-name>
    <servlet-name>first</servlet-name>
    <servlet-class>Com.first</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newBorn</display-name>
    <servlet-name>newBorn</servlet-name>
    <servlet-class>Com.newBorn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newBorn</servlet-name>
    <url-pattern>/newBorn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>paymentTable</display-name>
    <servlet-name>paymentTable</servlet-name>
    <servlet-class>Com.paymentTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paymentTable</servlet-name>
    <url-pattern>/paymentTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ticketGeneration</display-name>
    <servlet-name>ticketGeneration</servlet-name>
    <servlet-class>Com.ticketGeneration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ticketGeneration</servlet-name>
    <url-pattern>/ticketGeneration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sessionServlet1</display-name>
    <servlet-name>sessionServlet1</servlet-name>
    <servlet-class>Com.sessionServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionServlet1</servlet-name>
    <url-pattern>/sessionServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sessionServlet2</display-name>
    <servlet-name>sessionServlet2</servlet-name>
    <servlet-class>Com.sessionServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionServlet2</servlet-name>
    <url-pattern>/sessionServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sessionServlet3</display-name>
    <servlet-name>sessionServlet3</servlet-name>
    <servlet-class>Com.sessionServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionServlet3</servlet-name>
    <url-pattern>/sessionServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sessionServlet3.1</display-name>
    <servlet-name>sessionServlet3.1</servlet-name>
    <servlet-class>Com.sessionServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionServlet3.1</servlet-name>
    <url-pattern>/sessionServlet3.1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sessionServlet4</display-name>
    <servlet-name>sessionServlet4</servlet-name>
    <servlet-class>Com.sessionServlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionServlet4</servlet-name>
    <url-pattern>/sessionServlet4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>feeding_time</display-name>
    <servlet-name>feeding_time</servlet-name>
    <servlet-class>Com.feeding_time</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>feeding_time</servlet-name>
    <url-pattern>/feeding_time</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newArrival</display-name>
    <servlet-name>newArrival</servlet-name>
    <servlet-class>Com.newArrival</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newArrival</servlet-name>
    <url-pattern>/newArrival</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sessionServlet_2</display-name>
    <servlet-name>sessionServlet_2</servlet-name>
    <servlet-class>Com.sessionServlet_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionServlet_2</servlet-name>
    <url-pattern>/sessionServlet_2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sessionServlet_1</display-name>
    <servlet-name>sessionServlet_1</servlet-name>
    <servlet-class>Com.sessionServlet_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionServlet_1</servlet-name>
    <url-pattern>/sessionServlet_1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cancleservlet1</display-name>
    <servlet-name>cancleservlet1</servlet-name>
    <servlet-class>Com.cancleservlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancleservlet1</servlet-name>
    <url-pattern>/cancleservlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cancleservlet3</display-name>
    <servlet-name>cancleservlet3</servlet-name>
    <servlet-class>Com.cancleservlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancleservlet3</servlet-name>
    <url-pattern>/cancleservlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cancleservlet2</display-name>
    <servlet-name>cancleservlet2</servlet-name>
    <servlet-class>Com.cancleservlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancleservlet2</servlet-name>
    <url-pattern>/cancleservlet2</url-pattern>
  </servlet-mapping>
  
 
</web-app>